{% extends "_includes/default.njk" %}

{% block title %}Chaching!{% endblock %}

{% block content %}
  <!--div class="relative max-w-6xl txt-blk h-screen inline-block align-middle flex-grow flex items-center">
      <div class="items-center max-w-screen-xl mx-auto sm:flex sm:flex-row-reverse"-->
  
  {% include 'hero.njk' %}


{% endblock %}